<h1>Lista de productos</h1>

<table border="1" cellpadding="8" cellspacing="0">
    <thead>
        <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Thumbnail</th>
            <th>Código</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
        <tr>
            <td>{{id}}</td>
            <td>{{title}}</td>
            <td>{{description}}</td>
            <td>${{price}}</td>
            <td>
                <img src="{{thumbnail}}" alt="thumbnail" width="80" />
            </td>
            <td>{{code}}</td>
            <td>{{stock}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>